   body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-image: url(studend\ management.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    .container {
        max-width: 800px;
        margin: 20px auto;
        padding: 20px;
        background-color: rgba(255, 255, 255, 0.8); /* Added a semi-transparent white background to improve readability */
        border-radius: 10px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease;
    }
    h2 {
        text-align: center;
        color: #002efa;
        font-family:Verdana, Geneva, Tahoma, sans-serif
    }
    h3 {
        text-align: center;
        color: #002efa;
        font-family:Verdana, Geneva, Tahoma, sans-serif
    }
    input[type="radio"] {
      margin-top: 15px;
    }
    input[type="text"], input[type="number"], select {
        width: calc(100% - 12px);
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 5px;
        transition: border-color 0.3s ease;
    }
    input[type="submit"], input[type="button"] {
        width: 100px;
        padding: 10px;
        background-color: #2361e7;
        border: none;
        color: #fff;
        cursor: pointer;
        border-radius: 5px;
        display: block;
        margin: 0 auto;
        transition: background-color 0.3s ease;
    }
    input[type="submit"]:hover, input[type="button"]:hover {
        background-color: #0648ac;
    }
    table {
        width: 100%;
        border-collapse: collapse;
    }
    th, td {
        border: 1px solid #ddd;
        padding: 10px;
        text-align: left;
    }
    th {
        background-color:  #6459fd7e;
        color: #000000;
    }
    fieldset {
        border: none;
        margin: 0;
        padding: 0;
    }
    legend {
        margin-bottom: 10px;
        font-weight: bold;
    }
    .result-column {
        background-color: #e0e0e0;
    }
    .not-found {
        text-align: center;
        font-size: small;
        margin-top: 10px;
        margin-bottom: 10px; /* Added margin-bottom */
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: red;
        display: none;
    }
    .add-student-box {
        background-color: #629ef8d3;
        padding: 20px;
        border-radius: 10px;
        margin-bottom: 20px;
        transition: background-color 0.3s ease;
    }
    .add-student-box:hover{
      background-color: #4b8ae9d3;
    }
    .result-box {
        background-color: #629ef8d3; 
        border-radius: 10px;
        padding: 20px;
        margin-top: 0px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    .result-box:hover{
      background-color:#4b8ae9d3; 
    }
    .result-box input[type="text"],
    .result-box input[type="button"] {
        margin-bottom: 10px;
    }
